# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
Debug/
Release/
*.log

# Rider
.idea/
*.sln.iml

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# MAUI
*.db
*.pdb
*.apk
*.aab
*.app
*.ipa

# VS Code
.vscode/
